<%- include("partials/header") %>

<a href="#" onclick="window.history.back()" class="row justify-content-start">
  <img
    src="/img/back.png"
    alt="Volver atrás"
    style="max-width: 70px; height: auto"
    class="m-3"
  />
</a>

<%- include("partials/mensajes") %>

<div class="container my-5">
  <div class="bg-white p-5 shadow rounded-4">
    <h2 class="mb-4 text-center text-primary fw-bold">Editar Reserva</h2>

    <% if (reservation) { %>
    <form
      id="reservationForm"
      class="needs-validation"
      method="POST"
      action="/admin/reservations/edit/<%= reservation._id %>"
      novalidate
    >
      <!-- Hidden para mantener el ID del apartamento -->
      <input
        type="hidden"
        name="apartment"
        value="<%= reservation.apartment._id || reservation.apartment %>"
      />

      <!-- Nombre del huésped -->
      <div class="mb-3">
        <label for="guestName" class="form-label"
          >Nombre completo del huésped</label
        >
        <input
          type="text"
          class="form-control"
          id="guestName"
          name="guestName"
          value="<%= reservation.guestName %>"
          required
        />
        <div class="invalid-feedback">
          Por favor, ingresa el nombre completo del huésped.
        </div>
      </div>

      <!-- Email del huésped -->
      <div class="mb-3">
        <label for="guestEmail" class="form-label">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="guestEmail"
          name="guestEmail"
          value="<%= reservation.guestEmail %>"
          required
        />
        <div class="invalid-feedback">
          Por favor, ingresa un correo electrónico válido.
        </div>
      </div>

      <!-- Rango de fechas -->
      <div class="row">
        <div class="col-12 col-md-6">
          <label for="dateRange" class="form-label"
            >Selecciona el rango de fechas:</label
          >
          <input
            type="text"
            id="dateRange"
            name="dateRange"
            class="form-control"
            readonly
            value="<%= reservation ? `${reservation.startDate.toLocaleDateString('es-ES')} - ${reservation.endDate.toLocaleDateString('es-ES')}` : '' %>"
          />
          <div class="invalid-feedback">
            Por favor, selecciona un rango válido.
          </div>
          <input type="hidden" id="startDateHidden" name="startDate" />
          <input type="hidden" id="endDateHidden" name="endDate" />
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" class="btn btn-primary mt-3">
        Guardar Cambios
      </button>
    </form>
    <% } else { %>
    <p class="text-center my-5">Reserva no encontrada.</p>
    <% } %>
  </div>
</div>

<script></script>
<script src="/js/editReservation.js"></script>
<script src="/js/dateRangePicker.js"></script>

<%- include("partials/footer") %>
